<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786607387252-prk0jf3nbfhdld8qk1q7a1m922uaqj2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786607387252-prk0jf3nbfhdld8qk1q7a1m922uaqj2l</string>
	<key>API_KEY</key>
	<string>AIzaSyDYHHxccSs-IFjRKB684hV6VY5o1dHARBY</string>
	<key>GCM_SENDER_ID</key>
	<string>786607387252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flixId</string>
	<key>PROJECT_ID</key>
	<string>flix-id-62c34</string>
	<key>STORAGE_BUCKET</key>
	<string>flix-id-62c34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786607387252:ios:70fdf37f9160475f7e5721</string>
</dict>
</plist>